.modalDialog {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;

}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 70%;
	color: #2b2b2b;
	vertical-align: middle;
	height:auto;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	margin:  auto;
	padding: 5px 20px 13px 20px;
	border-radius: 2px;
	background: url('../img/offer_bg.jpg')no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.modewindowcontent{
	max-width: 950px;
	 min-height: 120;
	margin: 20px auto;
}

.textheader{
	padding-top:2%;
	font-family: Times;
	font-size: 30px;
	text-align: center;
	width: 70%;
	margin: auto;
}

.textheader2{
	font-family: Times;
	font-size: 24px;
	text-align: center;
	width: 70%;
	margin: auto;
}
.box_offer {
	background: transparent;

	min-width: 320px;
	width: 80%;

	margin:auto;
	padding: 20px;
	padding-top: 0px;
	border: 2px solid #9c895b;
}

.box_offer > table {
	position: relative;
	vertical-align: center;
	display: block;
	margin-top: 20px;
}

td{
 	vertical-align: top;
}

#td1{
	width: 49%;
}

.offer_units_table {
	width: 100%;
}

.td_poligon {
	padding: 10px;
	padding-right: 2px;
	width: 10px;
}

.td_text{
	padding: 10px;
	padding-left: 0px;
}

.text{
	font-family:'Times', sans-serif;
	text-align: justify;
	line-height: 20px;
	font-size: 18px;
}

.text2{
	font-family:'Times' , sans-serif;
	margin-top: 10px;
	display: block;
	text-align: center;
	padding: auto;
	padding-bottom: 5px;
	font-size: 18px;
}

.text2 img{
	padding-top: 10px;
	margin-right: 5px
}

.space_del{
	word-spacing:-3px;
}

.logos  img{
	display: block;
	margin: auto;
	margin-top: 30px;
	max-height: 85px;
}

#indposhiv{
	position: relative;
	float: left;
	width: 40%;
	top:20px;
	left:10%;
}

#fiori{
	padding-left:40px;
}

@media screen and (max-width: 600px) {
	#indposhiv{
		float: none;
		width: 100%;
		top:20px;
		left:auto;
	}
	#fiori{
		padding-top: 20px;
		padding-left: 0px;
	}
}

.close {
	width: 50px;
	height: 50px;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 20px;
	text-align: center;
	top: 10px;
	text-decoration: none;
}

.close img{
	max-width: 70%;
	max-height:70%;
}